body {
    /*width: 100%;*/
    /*height: 100%;*/
    background: url("/images/5.jpg") no-repeat;
    background-size: cover;
}

#login_form {
    width: 400px;
    height: 400px;
    margin: 80px auto;
    padding: 30px;
    background-color: #f2f2f2;
    opacity: 0.9;
}